* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contact {

    // Intro section styles
    &__intro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(300px, 50vh, 410px);
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;

        .contact__content {

            margin-top: clamp(8vh, 12vh, 14vh);
            margin-bottom: clamp(-6vh, -5vh, -3vh);

            @media(max-width:1336px) {
                margin-top: 4vh;
            }

            .contact__title {
                font-family: "Koulen", sans-serif;
                font-weight: 400;
                font-size: clamp(24px, 5vw, 44px);
                line-height: 281%;
                letter-spacing: 0.1em;
                color: #fff;
                border: 4px solid #f27b21;
                width: clamp(300px, 50vw, 453px);
                height: clamp(80px, 15vw, 121px);
                text-transform: uppercase;
                margin-bottom: 10px;
                text-align: center;

                @media (min-width: 1900px) and (max-width: 3500px) {
                    right: clamp(-34vh, 30vw, -45vh);
                    width: clamp(408px, 61%, 453px);
                    height: clamp(85px, 23vh, 115px);
                    margin-left: -12vh;
                }

                @media(max-width:1336px) {
                    right: clamp(-11vh, 10vw, -16vh);
                }

                @media(max-width:1024px) {
                    right: clamp(-9vh, 10vw, -9vh);
                }

                @media(max-width:767px) {
                    right: clamp(-7vh, 8vw, -6vh);
                    letter-spacing: clamp(0.2em, 3vw, 0.4em);
                }

                @media(max-width:385px) {
                    font-size: clamp(28px, 7vw, 40px);
                    right: clamp(-8vh, 9vw, -8vh);
                }

            }

            .contact__breadcrumb {
                font-family: "Koulen", sans-serif;
                font-weight: 400;
                font-size: clamp(20px, 4vw, 32px);
                color: #fff;
                line-height: 97%;
                letter-spacing: 0.36em;
                padding-bottom: 5px;
                margin-top: 35px;
                transition: color 0.3s, border-bottom 0.3s;
                border: none;
                margin-left: clamp(1vh, 2vh, 1vh);
                position: relative;
                top: 15px;

                @media (min-width: 1900px) and (max-width: 3500px) {
                    margin-left: clamp(-5vh, 11vh, 3vh);
                    top: 8px;
                }

                @media(max-width:1367px) {
                    left: -3vh;
                }

                @media(max-width: 767px) {
                    margin-left: 5vh;
                }

                @media(max-width: 385px) {
                    margin-left: 7vh;
                }

                &:hover {
                    color: #fb7507;
                    border-bottom: 2px solid #fb7507;
                }
            }
        }
    }

    // Contact details section styles
    &__details {
        padding: clamp(30px, 5vw, 50px) clamp(10px, 4vw, 20px);
        background-color: #f9f9f9;
        padding-bottom: clamp(100px, 15vw, 170px);

        .contact__container {
            max-width: 1200px;
            margin: 0 auto;



            .contact__row {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
                margin-left: clamp(12vh, 5vw, 5vh);

                @media (min-width: 1900px) and (max-width: 3500px) {
                    margin-left: clamp(7vh, 5vw, 5vh);
                }

                @media(max-width:1024px) {
                    margin-left: 0;
                }

                @media(max-width:767px) {
                    justify-content: center;
                    margin-left: 0;
                }

                .contact__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: clamp(15px, 5vw, 20px);
                    position: relative;



                    .contact__info--header {
                        position: relative;

                        &:not(:last-child)::after {
                            content: "";
                            position: absolute;
                            top: clamp(-90px, -25vh, -106px);
                            right: clamp(-20vh, 20vw, -26vh);
                            width: 2px;
                            height: clamp(25vh, 40vw, 34vh);
                            transform: translateY(-10%);
                            background-color: rgba(242, 123, 33, 0.44);

                            @media (min-width: 1900px) and (max-width: 3500px) {
                                right: clamp(-15vh, 15vw, -19vh);
                            }

                            @media(max-width:1026px) {
                                top: clamp(-140px, -20vh, -173px);
                                right: clamp(-8vh, 15vw, -9vh);
                            }

                            @media(max-width:767px) {
                                right: clamp(4vh, 10vw, 6vh);
                                transform: rotate(90deg);
                                top: clamp(-2vh, 8vw, -5vh);
                            }

                            @media(max-width:385px) {
                                top: clamp(0vh, 8vw, -5vh);
                            }
                        }
                    }

                    &:last-child .contact__info--header::after {
                        display: none;

                        @media(max-width:767px) {
                            display: block;
                        }
                    }

                    .contact__icon {
                        width: clamp(100px, 10vw, 132px);
                        height: clamp(90px, 10vw, 120px);
                        margin-bottom: 10px;
                    }

                    .contact__info {
                        font-family: "Koulen", sans-serif;
                        max-width: 248px;
                        font-weight: 400;
                        font-size: clamp(12px, 2vw, 14px);
                        line-height: 181%;
                        letter-spacing: clamp(0.2em, 3vw, 0.36em);
                        color: #7f7f7f;
                    }

                    .contact__info--text {
                        font-weight: 400;
                        font-size: clamp(12px, 2vw, 14px);
                        line-height: 181%;
                        letter-spacing: clamp(0.2em, 3vw, 0.36em);
                        color: #000;

                        @media(max-width:1024px) {
                            letter-spacing: clamp(0.1em, 2vw, 0.1em);
                        }
                    }
                }


            }
        }
    }

    // Map section styles
    &__map {
        padding-bottom: 50px;

        iframe {
            border: 0;
            width: 100%;
            height: clamp(300px, 40vw, 450px);
        }
    }
}


.header__link--contact {
    position: relative;
    top: 7px;

    @media(max-width:1367px) {
        top: 12px;
    }
}

.header__logo--contact {
    margin-left: 4vh;
}



.footer {
    margin-top: auto;
    background-color: #0f172a;
    color: #fff;
    padding: 2rem 1rem;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.animated {
        opacity: 1;
        transform: translateY(0);
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 5rem;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 2rem;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            /* Один столбец на малых экранах */
            gap: 1.5rem;
        }
    }

    &__section {
        &--logo {
            .footer__logo {
                max-width: 100%;
                height: auto;
            }

            .footer__description {
                margin-top: 1rem;
                font-size: 0.875rem;
            }
        }

        &--links,
        &--contact {
            .footer__title {
                font-family: "Koulen", sans-serif;
                font-weight: 400;
                font-size: 24px;
                line-height: 181%;
                letter-spacing: 0.16em;
                margin-bottom: 1rem;

                @media (max-width: 1024px) {
                    font-size: 20px;
                    letter-spacing: 0.1em;
                }

                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.08em;
                }
            }

            .footer__list {
                list-style: none;
                padding: 0;

                .footer__item {
                    margin: 0.5rem 0;

                    .footer__link {
                        font-family: "Koulen", sans-serif;
                        color: #fff;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 180%;
                        letter-spacing: 0.36em;
                        position: relative;
                        transition: color 0.3s ease;

                        &:hover {
                            color: #fb7507;
                            /* Меняем цвет текста на оранжевый при наведении */
                        }

                        &:hover::after {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            /* Расстояние от текста до полоски */
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #fb7507;
                        }

                        @media (max-width: 1024px) {
                            font-size: 18px;
                            letter-spacing: 0.3em;
                        }

                        @media (max-width: 768px) {
                            font-size: 16px;
                            letter-spacing: 0.2em;
                        }
                    }
                }
            }

            .footer__address {
                font-family: "Koulen", sans-serif;
                width: 100%;
                /* Адаптивная ширина */
                font-weight: 400;
                font-size: 15px;
                line-height: 181%;
                letter-spacing: 0.18em;

                @media (max-width: 1024px) {
                    font-size: 14px;
                }

                @media (max-width: 768px) {
                    font-size: 13px;
                }

                .footer__contact {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #fb7507;
                        /* Меняем цвет текста на оранжевый при наведении */
                    }
                }
            }
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 2rem;
        font-size: 0.75rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 1rem;
    }

    &__copyright {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.04em;
    }
}