@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(300px, 50vh, 410px);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.contact__intro .contact__content {
  margin-top: 12vh;
  margin-bottom: -5vh;
}
@media (max-width: 1336px) {
  .contact__intro .contact__content {
    margin-top: 4vh;
  }
}
.contact__intro .contact__content .contact__title {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: clamp(28px, 5vw, 47px);
  line-height: 245%;
  letter-spacing: 0.1em;
  color: #fff;
  border: 4px solid #f27b21;
  width: clamp(320px, 50%, 453px);
  height: clamp(68px, 14vh, 121px);
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .contact__intro .contact__content .contact__title {
    width: clamp(190px, 90%, 352px);
    height: clamp(68px, 10vh, 121px);
  }
}
@media (max-width: 385px) {
  .contact__intro .contact__content .contact__title {
    width: clamp(190px, 90%, 352px);
    height: clamp(68px, 10vh, 121px);
  }
}
.contact__intro .contact__content .contact__breadcrumb {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 4vw, 32px);
  color: #fff;
  line-height: 97%;
  letter-spacing: 0.36em;
  padding-bottom: 5px;
  margin-top: 35px;
  transition: color 0.3s, border-bottom 0.3s;
  border: none;
  margin-left: 5vh;
  position: relative;
  top: 15px;
}
@media (min-width: 1900px) and (max-width: 3500px) {
  .contact__intro .contact__content .contact__breadcrumb {
    margin-left: -1vh;
  }
}
@media (max-width: 767px) {
  .contact__intro .contact__content .contact__breadcrumb {
    margin-left: 2vh;
  }
}
@media (max-width: 385px) {
  .contact__intro .contact__content .contact__breadcrumb {
    margin-left: 2vh;
  }
}
.contact__intro .contact__content .contact__breadcrumb:hover {
  color: #fb7507;
  border-bottom: 2px solid #fb7507;
}
.contact__details {
  padding: clamp(30px, 5vw, 50px) clamp(10px, 4vw, 20px);
  background-color: #f9f9f9;
  padding-bottom: clamp(100px, 15vw, 170px);
}
.contact__details .contact__container {
  max-width: 1200px;
  margin: 0 auto;
}
.contact__details .contact__container .contact__details--title {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 4vw, 32px);
  line-height: 181%;
  letter-spacing: clamp(0.1em, 1vw, 0.13em);
  color: #000;
  position: relative;
  right: clamp(-44vh, 30vw, -45vh);
  padding-bottom: clamp(40px, 8vw, 80px);
}
@media (max-width: 1336px) {
  .contact__details .contact__container .contact__details--title {
    right: clamp(-15vh, 10vw, -16vh);
  }
}
@media (max-width: 1024px) {
  .contact__details .contact__container .contact__details--title {
    right: clamp(-9vh, 10vw, -9vh);
  }
}
@media (max-width: 767px) {
  .contact__details .contact__container .contact__details--title {
    right: clamp(-7vh, 8vw, -6vh);
    letter-spacing: clamp(0.2em, 3vw, 0.4em);
  }
}
@media (max-width: 385px) {
  .contact__details .contact__container .contact__details--title {
    font-size: clamp(28px, 7vw, 40px);
    right: clamp(-8vh, 9vw, -8vh);
  }
}
.contact__details .contact__container .contact__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: clamp(12vh, 5vw, 5vh);
}
@media (max-width: 1024px) {
  .contact__details .contact__container .contact__row {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .contact__details .contact__container .contact__row {
    justify-content: center;
    margin-left: 0;
  }
}
.contact__details .contact__container .contact__row .contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: clamp(15px, 5vw, 20px);
  position: relative;
}
.contact__details .contact__container .contact__row .contact__item .contact__info--header {
  position: relative;
}
.contact__details .contact__container .contact__row .contact__item .contact__info--header:not(:last-child)::after {
  content: "";
  position: absolute;
  top: clamp(-90px, -25vh, -106px);
  right: clamp(-20vh, 20vw, -26vh);
  width: 2px;
  height: clamp(25vh, 40vw, 34vh);
  transform: translateY(-10%);
  background-color: rgba(242, 123, 33, 0.44);
}
@media (max-width: 1026px) {
  .contact__details .contact__container .contact__row .contact__item .contact__info--header:not(:last-child)::after {
    top: clamp(-140px, -20vh, -173px);
    right: clamp(-8vh, 15vw, -9vh);
  }
}
@media (max-width: 767px) {
  .contact__details .contact__container .contact__row .contact__item .contact__info--header:not(:last-child)::after {
    right: clamp(4vh, 10vw, 6vh);
    transform: rotate(90deg);
    top: clamp(-2vh, 8vw, -5vh);
  }
}
@media (max-width: 385px) {
  .contact__details .contact__container .contact__row .contact__item .contact__info--header:not(:last-child)::after {
    top: clamp(0vh, 8vw, -5vh);
  }
}
.contact__details .contact__container .contact__row .contact__item:last-child .contact__info--header::after {
  display: none;
}
@media (max-width: 767px) {
  .contact__details .contact__container .contact__row .contact__item:last-child .contact__info--header::after {
    display: block;
  }
}
.contact__details .contact__container .contact__row .contact__item .contact__icon {
  width: clamp(100px, 10vw, 132px);
  height: clamp(90px, 10vw, 120px);
  margin-bottom: 10px;
}
.contact__details .contact__container .contact__row .contact__item .contact__info {
  font-family: "Koulen", sans-serif;
  max-width: 248px;
  font-weight: 400;
  font-size: clamp(12px, 2vw, 14px);
  line-height: 181%;
  letter-spacing: clamp(0.2em, 3vw, 0.36em);
  color: #7f7f7f;
}
.contact__details .contact__container .contact__row .contact__item .contact__info--text {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 14px);
  line-height: 181%;
  letter-spacing: clamp(0.2em, 3vw, 0.36em);
  color: #000;
}
@media (max-width: 1024px) {
  .contact__details .contact__container .contact__row .contact__item .contact__info--text {
    letter-spacing: clamp(0.1em, 2vw, 0.1em);
  }
}
.contact__map {
  padding-bottom: 50px;
}
.contact__map iframe {
  border: 0;
  width: 100%;
  height: clamp(300px, 40vw, 450px);
}

.footer {
  margin-top: auto;
  background-color: #0f172a;
  color: #fff;
  padding: 2rem 1rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.footer.animated {
  opacity: 1;
  transform: translateY(0);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    /* Один столбец на малых экранах */
    gap: 1.5rem;
  }
}
.footer__section--logo .footer__logo {
  max-width: 100%;
  height: auto;
}
.footer__section--logo .footer__description {
  margin-top: 1rem;
  font-size: 0.875rem;
}
.footer__section--links .footer__title, .footer__section--contact .footer__title {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 181%;
  letter-spacing: 0.16em;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .footer__section--links .footer__title, .footer__section--contact .footer__title {
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 768px) {
  .footer__section--links .footer__title, .footer__section--contact .footer__title {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.08em;
  }
}
.footer__section--links .footer__list, .footer__section--contact .footer__list {
  list-style: none;
  padding: 0;
}
.footer__section--links .footer__list .footer__item, .footer__section--contact .footer__list .footer__item {
  margin: 0.5rem 0;
}
.footer__section--links .footer__list .footer__item .footer__link, .footer__section--contact .footer__list .footer__item .footer__link {
  font-family: "Koulen", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.36em;
  position: relative;
  transition: color 0.3s ease;
}
.footer__section--links .footer__list .footer__item .footer__link:hover, .footer__section--contact .footer__list .footer__item .footer__link:hover {
  color: #fb7507;
  /* Меняем цвет текста на оранжевый при наведении */
}
.footer__section--links .footer__list .footer__item .footer__link:hover::after, .footer__section--contact .footer__list .footer__item .footer__link:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  /* Расстояние от текста до полоски */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb7507;
}
@media (max-width: 1024px) {
  .footer__section--links .footer__list .footer__item .footer__link, .footer__section--contact .footer__list .footer__item .footer__link {
    font-size: 18px;
    letter-spacing: 0.3em;
  }
}
@media (max-width: 768px) {
  .footer__section--links .footer__list .footer__item .footer__link, .footer__section--contact .footer__list .footer__item .footer__link {
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}
.footer__section--links .footer__address, .footer__section--contact .footer__address {
  font-family: "Koulen", sans-serif;
  width: 100%;
  /* Адаптивная ширина */
  font-weight: 400;
  font-size: 15px;
  line-height: 181%;
  letter-spacing: 0.18em;
}
@media (max-width: 1024px) {
  .footer__section--links .footer__address, .footer__section--contact .footer__address {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer__section--links .footer__address, .footer__section--contact .footer__address {
    font-size: 13px;
  }
}
.footer__section--links .footer__address .footer__contact, .footer__section--contact .footer__address .footer__contact {
  color: #fff;
  text-decoration: none;
}
.footer__section--links .footer__address .footer__contact:hover, .footer__section--contact .footer__address .footer__contact:hover {
  color: #fb7507;
  /* Меняем цвет текста на оранжевый при наведении */
}
.footer__bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.75rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
}
.footer__copyright {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.04em;
}