.patrones {
    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 125vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        padding-bottom: clamp(80px, 10vw, 115px);

        @media(max-width:767px) {
            height: 100vh;
        }

        &-content {
            background: rgba(0, 0, 0, 0.6);
            padding: 2rem;
            text-align: center;
            color: #fff;
            z-index: 10;
        }

        .patrones__title {
            font-family: "Koulen", sans-serif;
            font-weight: 400;
            font-size: clamp(24px, 5vw, 44px);
            line-height: 281%;
            letter-spacing: 0.1em;
            color: #fff;
            border: 4px solid #f27b21;
            width: clamp(300px, 50vw, 453px);
            height: clamp(80px, 15vw, 121px);
            text-transform: uppercase;
            margin-bottom: 10px;
            text-align: center;

            @media (min-width: 768px) and (max-width: 1023px) {
                position: relative;
                top: -8dvh;
            }

            @media(max-width:767px) {
                width: clamp(250px, 40vw, 365px);
            }
        }

        .patrones__link {
            font-family: "Koulen", sans-serif;
            font-weight: 400;
            font-size: clamp(18px, 4vw, 32px);
            color: #fff;
            line-height: 97%;
            letter-spacing: 0.36em;
            padding-bottom: 5px;
            margin-top: clamp(20px, 5vw, 35px);
            transition: color 0.3s, border-bottom 0.3s;
            border: none;
            margin-left: clamp(24vh, 5vw, 23vh);
            position: relative;
            top: clamp(5px, 3vw, 15px);

            &:hover,
            &.active {
                color: #fb7507;
                border-bottom: 2px solid #fb7507;
            }

            @media (min-width: 1900px) and (max-width: 3500px) {
                margin-left: clamp(17vh, 6vw, 18vh);
            }



            @media(max-width:1024px) {
                margin-left: clamp(14vh, 5vw, 23vh);
                position: relative;
                top: -3dvh;
            }

            @media (min-width: 1024px) and (max-width: 1139px) {
                top: 2dvh;
                left: -2dvh;
            }

            @media(max-width:767px) {
                margin-left: clamp(11vh, 4vw, 15vh);
                top: 2dvh;
                left: -1dvh;
            }

            @media(max-width: 385px) {
                margin-left: clamp(14vh, 4vw, 20vh);
            }
        }
    }
}

.patrones__row {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 2vw, 20px);
    padding: clamp(10px, 2vw, 15px);
    margin-left: clamp(-1vh, 1vw, -1vh);

    @media (min-width: 768px) and (max-width: 1023px) {
        position: relative;
        top: -5dvh;
    }

    @media(max-width:767px) {

        margin-left: clamp(3vh, -22vw, -8vh);
    }

    @media(max-width:385px) {
        margin-left: clamp(3vh, -22vw, -8vh);
    }
}

.patrones__container {
    position: relative;
    top: clamp(8vh, 5vw, 13vh);
    width: clamp(300px, 50vw, 444px);
    height: clamp(120px, 15vw, 172px);



    .patrones__logo {
        max-width: clamp(50px, 10vw, 151px);
        height: auto;
        padding: clamp(5px, 2vw, 10px);
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        @media (min-width: 1900px) and (max-width: 3500px) {
            max-width: clamp(150px, 8vw, 200px);
        }

        @media(max-width:1367px) {
            max-width: clamp(50px, 46vw, 207px)
        }

        @media(max-width:914px) {
            max-width: clamp(80px, 45vw, 157px);
        }

        @media(max-width:767px) {
            max-width: clamp(76px, 6vw, 71px);
        }
    }
}

.header__link--partners {
    position: relative;
    top: 7px;

    @media(max-width:1367px) {
        top: 11px;
    }
}

.header__logo--partner {
    margin-left: 10vh;


    @media (min-width: 1900px) and (max-width: 3500px) {
        margin-left: 3vh;
    }

    @media(max-width:1367px) {
        margin-left: 1vh;
    }

}

.footer {

    margin-top: auto;
    background-color: #0f172a;
    color: #fff;
    padding: 2rem 1rem;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.animated {
        opacity: 1;
        transform: translateY(0);
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 5rem;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 2rem;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            /* Один столбец на малых экранах */
            gap: 1.5rem;
        }
    }

    &__section {
        &--logo {
            .footer__logo {
                max-width: 100%;
                height: auto;
            }

            .footer__description {
                margin-top: 1rem;
                font-size: 0.875rem;
            }
        }

        &--links,
        &--contact {
            .footer__title {
                font-family: "Koulen", sans-serif;
                font-weight: 400;
                font-size: 24px;
                line-height: 181%;
                letter-spacing: 0.16em;
                margin-bottom: 1rem;

                @media (max-width: 1024px) {
                    font-size: 20px;
                    letter-spacing: 0.1em;
                }

                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: 0.08em;
                }
            }

            .footer__list {
                list-style: none;
                padding: 0;

                .footer__item {
                    margin: 0.5rem 0;

                    .footer__link {
                        font-family: "Koulen", sans-serif;
                        color: #fff;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 180%;
                        letter-spacing: 0.36em;
                        position: relative;
                        transition: color 0.3s ease;

                        &:hover {
                            color: #fb7507;
                            /* Меняем цвет текста на оранжевый при наведении */
                        }

                        &:hover::after {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            /* Расстояние от текста до полоски */
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #fb7507;
                        }

                        @media (max-width: 1024px) {
                            font-size: 18px;
                            letter-spacing: 0.3em;
                        }

                        @media (max-width: 768px) {
                            font-size: 16px;
                            letter-spacing: 0.2em;
                        }
                    }
                }
            }

            .footer__address {
                font-family: "Koulen", sans-serif;
                width: 100%;
                /* Адаптивная ширина */
                font-weight: 400;
                font-size: 15px;
                line-height: 181%;
                letter-spacing: 0.18em;

                @media (max-width: 1024px) {
                    font-size: 14px;
                }

                @media (max-width: 768px) {
                    font-size: 13px;
                }

                .footer__contact {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #fb7507;
                        /* Меняем цвет текста на оранжевый при наведении */
                    }
                }
            }
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 2rem;
        font-size: 0.75rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 1rem;
    }

    &__copyright {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.04em;
    }
}